*.aux
latexcache/
*.bcf
*.bcf-SAVE-ERROR
*.blg
*.bbl
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.lof
*.log
*.lol
*.loq
*.lot
*.fmt
*.mw
*.run.xml
*.synctex.gz
*.toc
*.pdf
*.xcf
*.png
*.jpg
tags
setup/abntex2.tex
setup/ufscthesisx.tex
main.synctex.gz
